<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)= "buscar()">
            <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title style= "background-color: #C6DDF0">
      Segunda Mano: Computadoras y Accesorios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: #5E4955">
 <ion-grid>
   <ion-row>
     <ion-col *ngFor= "let dispositivo of dispositivos" col-3>
      <ion-card style="color: cornflowerblue" (click)= "verDispositivo(dispositivo)">
        <img *ngIf= "dispositivo.ad.hasOwnProperty('thumbnail')"
        src="https://img.segundamano.mx/cover/{{dispositivo.ad.thumbnail.path}}">
        <img *ngIf= "!dispositivo.ad.hasOwnProperty('thumbnail')"
        src= "../assets/imgs/mac.jpg">
        <ion-item>
          <h2 *ngIf= "dispositivo.ad.hasOwnProperty('prices')">
            {{dispositivo.ad.subject}}
          </h2>
          <p *ngIf= "dispositivo.ad.hasOwnProperty('locations')">
            {{dispositivo.ad.locations[0].locations[0].label}}, {{dispositivo.ad.locations[0].label}}
          </p>
          <h2 *ngIf= "dispositivo.ad.hasOwnProperty('prices')">
            {{dispositivo.ad.prices[0].label}}
          </h2>
        </ion-item>
      </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
