<!--
  Generated template for the InfoEmpleoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Información del empleo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: #996888">
    <ion-card style= "background-color: #C99DA3">
        <ion-slides pager>
          <ion-slide *ngFor= "let img of imgs">
            <img src= "https://img.segundamano.mx/medium/{{img.path}}">
          </ion-slide>
        </ion-slides>
      </ion-card>
      <ion-card>
          <ion-item>
            {{empleo.ad.subject}}
            <ion-icon name= "heart" item-end (click)= "favoritos(empleo)"></ion-icon>
          </ion-item>
          <ion-item>
            <h2 *ngIf= "empleo.ad.hasOwnProperty('prices')">
                {{empleo.ad.prices[0].label}}
            </h2>
          </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-content>
            <div *ngIf= "empleo.ad.hasOwnProperty('locations')">
              <h2>
                Características
              </h2>
              <p>
                Ubicación: {{empleo.ad.locations[0].locations[0].locations[0].label}}, {{empleo.ad.locations[0].locations[0].label}}, {{empleo.ad.locations[0].label}}
              </p>
              <p *ngIf= "empleo.ad.hasOwnProperty('list_time')">
                Publicación: {{empleo.ad.list_time.label}}
              </p>
            </div>
          </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div *ngIf= "empleo.ad.hasOwnProperty('body')">
            <h2>
              Descripción:
            </h2>
            <p>
              {{empleo.ad.body}}
            </p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar>
            <img src= "../assets/imgs/logo.png">
          </ion-avatar>
          <h2 *ngIf= "empleo.ad.hasOwnProperty('user')">
            {{empleo.ad.user.account.name}}
          </h2>
          <p *ngIf= "empleo.ad.hasOwnProperty('user')">
            {{empleo.ad.user.account.since}}
          </p>
        </ion-item>
        </ion-card>
</ion-content>
